<template>
  <div>
    <div class="row">
      <div class="col-sm">
        Temperature: {{weather.mainInfo.temp}}° F
      </div>
      <div class="col-sm">
        Humidity: {{weather.mainInfo.humidity}}%
      </div>
      <div class="col-sm">
        {{weather.dt | moment("dddd, MMMM Do YYYY") }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        {{weather.condition.description | capitalize}}
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
        {{weather.dt | moment("h:mm A") }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CurrentWeather',
  props: ['weather'],
  data () {
    return {
    }
  }
}
</script>

<style scoped>
</style>
