<template>
  <div>
    <div class="row">
      <div class="col-sm">
        Temperature: {{entry.mainInfo.temp}}° F
      </div>
      <div class="col-sm">
        Humidity: {{entry.mainInfo.humidity}}%
      </div>
      <div class="col-sm">
        {{entry.dt | moment("dddd, MMMM Do YYYY") }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        {{entry.condition.description | capitalize}}
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
        {{entry.dt | moment("h:mm A") }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        &nbsp;
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ForecastEntry',
  props: ['entry'],
  data () {
    return {
    }
  }
}
</script>

<style scoped>
</style>
