<template>
  <div>
    <div v-for="(entry, index) in forecast.list" :key="index">
      <forecast-entry :entry="entry" />
    </div>
  </div>
</template>

<script>
import ForecastEntry from '../components/ForecastEntry.vue'

export default {
  name: 'Forecast',
  props: ['forecast'],
  data () {
    return {
    }
  },
  components: {
    ForecastEntry
  }
}
</script>

<style scoped>
</style>
