<template>
  <div>
    <TopBanner />
    <WeatherQuery :searchQuery="searchQuery" :searchType="searchType" v-on:newQuery="handleNewQuery" />
  </div>
</template>

<script>
import WeatherQuery from '../components/WeatherQuery'
import TopBanner from '../components/TopBanner'

export default {
  name: 'MainScreen',
  data () {
    return {
      searchQuery: this.$route.params.searchQuery,
      searchType: this.$route.params.searchType
    }
  },
  methods: {
    handleNewQuery: function (text) {
      this.searchQuery = text
    }
  },
  components: {
    WeatherQuery,
    TopBanner
  },
  watch: {
    '$route' (to, from) {
      this.searchQuery = to.params.searchQuery
      this.searchType = to.params.searchType
    }
  }
}
</script>

<style scoped>
  #wq-top { 
      padding-top: 85px; 
  }
</style>
