<template>
  <div>
    <div class="row">
      <div class="col-sm">
        Number of Inquiries: {{this.searchCount}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Stats',
  props: ['searchCount'],
  data () {
    return {
    }
  }
}
</script>

<style scoped>
</style>
