<template>
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Weather</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link class="nav-link" :to="current">Current</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="forecast">Forecast</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="stats">Stats</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'TopBanner',
  computed: {
    current () {
      return `/current/${this.$store.state.currentLocation}`
    },
    forecast () {
      return `/forecast/${this.$store.state.currentLocation}`
    },
    stats () {
      return `/stats/${this.$store.state.currentLocation}`
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  body { 
      padding-top: 85px; 
  }
</style>
