<template>
  <div>
    <div id="wq-top" class="row">
      <div class="col-sm">
        <h1>{{this.title}} Weather</h1>
      </div>
    </div>
    <div class="row">
      <form class="col-sm">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-lg" id="inputSearch" 
             @keyup.enter="handleSearch"
             v-model='inputText'
             placeholder="Search by City" />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" v-on:click="handleSearch">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <component v-if="this.queried" :is="targetComponent" v-bind="targetProps">
  <!-- component changes when vm.currentView changes! -->
    </component>
<!--    <current-weather v-if="this.queried" :weather="weather" /> -->
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'underscore'

import CurrentWeather from '../components/CurrentWeather'
import Forecast from '../components/Forecast'
import Stats from '../components/Stats'

export default {
  name: 'WeatherQuery',
  props: ['searchQuery', 'searchType'],
  data () {
    return {
      inputText: '',
      queried: false,
      weather: {
        temp: 0
      },
      forecast: {
        list: []
      },
      searchCount: 0,
      targetComponent: 'CurrentWeather'
    }
  },
  computed: {
    targetProps: function () {
      return {
        forecast: this.forecast,
        weather: this.weather,
        searchCount: this.searchCount
      }
    },
    title: function () {
      if (this.searchType === 'current') {
        return 'Local'
      }

      if (this.searchType === 'forecast') {
        return 'Forecast'
      }

      if (this.searchType === 'stats') {
        return 'Stats'
      }

      return ''
    }
  },
  methods: {
    query: function (text, searchType) {
      let localSearchType = this.searchType
      if (!_.isUndefined(searchType)) {
        localSearchType = searchType
      }

      this.$store.commit('changeLocation', text)

      if (localSearchType === 'current') {
        this.targetComponent = 'CurrentWeather'
        this.queryCurrent(text)
      }

      if (localSearchType === 'forecast') {
        this.targetComponent = 'Forecast'
        this.queryForecast(text)
      }

      if (localSearchType === 'stats') {
        this.targetComponent = 'Stats'
        this.queryStats(text)
      }
    },
    queryCurrent: function (text) {
      this.targetComponent = 'CurrentWeather'
      axios.get('/d/api/1/weather/current', {
        params: {
          city: text
        }
      })
      .then(response => {
        this.weather = response.data
        this.queried = true
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    queryForecast: function (text) {
      this.targetComponent = 'Forecast'
      axios.get('/d/api/1/weather/forecast', {
        params: {
          city: text
        }
      })
      .then(response => {
        this.forecast = response.data
        this.queried = true
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    queryStats: function (text) {
      this.targetComponent = 'Stats'
      axios.get('/d/api/1/weather/stats', {
        params: {
          city: text
        }
      })
      .then(response => {
        this.searchCount = response.data
        this.queried = true
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    handleSearch: function () {
      this.$router.push({name: 'search', params: {searchType: this.searchType, searchQuery: this.inputText}})
    }
  },
  components: {
    CurrentWeather,
    Forecast,
    Stats
  },
  watch: {
    '$route' (to, from) {
      let newQuery = to.params.searchQuery
      let searchType = to.params.searchType
      if (_.isString(newQuery) &&
      !_.isEmpty(newQuery)) {
        this.inputText = newQuery
        this.query(newQuery, searchType)
      } else {
        this.inputText = ''
        this.queried = false
      }
    }
  },
  mounted: function () {
    if (_.isString(this.searchQuery) &&
     !_.isEmpty(this.searchQuery)) {
      this.inputText = this.searchQuery
      this.query(this.searchQuery)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #wq-top { 
      padding-top: 85px; 
  }
</style>
