<template>
  <div id="app" class="container">
    <router-view />
  </div>
</template>

<script>
import router from './router/'
import store from './store/store.js'

export default {
  name: 'app',
  router,
  store
}
</script>

<style lang="scss">
  @import "../node_modules/bootstrap/scss/bootstrap.scss";

</style>
